fastapi
uvicorn
pydantic
pydantic-settings
google-cloud-firestore
anthropic
celery
neo4j
sentence-transformers
spacy
transformers
pydub
python-json-logger
starlette
jinja2
pyjwt
librosa
networkx
numpy
torch
torchaudio
openai-whisper
pytest